USE [Northwind_DW]
GO
/****** Object:  StoredProcedure [dbo].[GenerateDates]    Script Date: 6/30/2026 4:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GenerateDates] 
    @StartDate datetime
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @TempDate DATETIME;
	SELECT @TempDate = MAX(Full_Date) 
    FROM dbo.Date_DIM;

	if (@TempDate is null)
	  begin
	   set @TempDate = @StartDate
	  end

	;WITH Dates AS (
       SELECT @TempDate AS FullDate
       UNION ALL
       SELECT DATEADD(DAY, 1, FullDate)
       FROM Dates
       WHERE FullDate < CAST(GETDATE() AS DATE)

    
    )
	insert into dbo.Date_DIM (Full_Date,years,Month,Day,Day_Name,Quarter)
    SELECT 
	FullDate,
	Year(FullDate) as Year,
	Month(FullDate) as Month,
	Day(FullDate) as Day,
	DATENAME(weekday,FullDate) as Day_name,
	DATENAME(quarter,FullDate)as Quarter
    FROM Dates
    OPTION (MAXRECURSION 0);

	
END
GO
