USE [Northwind_DW]
GO
/****** Object:  Table [dbo].[Customers_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_DIM](
	[Customers_sk] [int] NOT NULL,
	[CustomerID] [nvarchar](5) NULL,
	[CompanyName] [nvarchar](40) NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[Is_Current] [int] NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Customers_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Date_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Date_DIM](
	[Date_SK] [int] IDENTITY(1,1) NOT NULL,
	[Full_Date] [datetime] NULL,
	[years] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[Quarter] [int] NULL,
	[Day_Name] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees_DIM](
	[Employee_SK] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[Full_Name] [varchar](35) NULL,
	[Title] [nvarchar](30) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[HomePhone] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[Photo] [binary](4000) NULL,
	[Notes] [ntext] NULL,
	[ReportsTo] [int] NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[Is_Current] [int] NULL,
	[Start_Date] [datetime] NULL,
	[End_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Fact]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Fact](
	[Order_SK] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Customer_FK] [int] NULL,
	[Supplier_FK] [int] NULL,
	[Product_FK] [int] NULL,
	[Employee_FK] [int] NULL,
	[Shipper_FK] [int] NULL,
	[OrderDate] [int] NULL,
	[RequiredDate] [int] NULL,
	[ShippedDate] [int] NULL,
	[Freight] [float] NULL,
	[UnitPrice] [float] NULL,
	[Quantity] [int] NULL,
	[Discount] [float] NULL,
	[Total_order_Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_DIM](
	[Product_SK] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](40) NULL,
	[CategoryName] [nvarchar](15) NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [binary](4000) NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [varchar](1) NULL,
	[Is_Current] [int] NULL,
	[Start_Date] [datetime] NULL,
	[End_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippers_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers_DIM](
	[Shipper_SK] [int] NOT NULL,
	[ShipperID] [int] NULL,
	[CompanyName] [nvarchar](40) NULL,
	[Phone] [nvarchar](24) NULL,
	[Is_Current] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Shipper_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers_DIM]    Script Date: 6/30/2026 5:02:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers_DIM](
	[Supplier_SK] [int] NOT NULL,
	[SupplierID] [int] NULL,
	[CompanyName] [nvarchar](40) NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[HomePage] [nvarchar](max) NULL,
	[Is_Current] [int] NULL,
	[Start_Date] [datetime] NULL,
	[End_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Supplier_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [Customer_FK] FOREIGN KEY([Customer_FK])
REFERENCES [dbo].[Customers_DIM] ([Customers_sk])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [Customer_FK]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [Employee_FK] FOREIGN KEY([Employee_FK])
REFERENCES [dbo].[Employees_DIM] ([Employee_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [Employee_FK]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [fk_OrderDate] FOREIGN KEY([OrderDate])
REFERENCES [dbo].[Date_DIM] ([Date_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [fk_OrderDate]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [fk_Product] FOREIGN KEY([Product_FK])
REFERENCES [dbo].[Products_DIM] ([Product_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [fk_Product]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [fk_RequiredDate] FOREIGN KEY([RequiredDate])
REFERENCES [dbo].[Date_DIM] ([Date_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [fk_RequiredDate]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [fk_ShippedDate] FOREIGN KEY([ShippedDate])
REFERENCES [dbo].[Date_DIM] ([Date_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [fk_ShippedDate]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [fk_Supplier] FOREIGN KEY([Supplier_FK])
REFERENCES [dbo].[Suppliers_DIM] ([Supplier_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [fk_Supplier]
GO
ALTER TABLE [dbo].[Orders_Fact]  WITH CHECK ADD  CONSTRAINT [Shipper_FK] FOREIGN KEY([Shipper_FK])
REFERENCES [dbo].[Shippers_DIM] ([Shipper_SK])
GO
ALTER TABLE [dbo].[Orders_Fact] CHECK CONSTRAINT [Shipper_FK]
GO
